$color-background: #fff !default;

@mixin floating-label($labelClass) {
  &:not(:placeholder-shown),
  &:focus {
    ~ .#{$labelClass} {
      top: -0.75em;
      font-size: 0.8em;
    }
  }
  ~ .#{$labelClass} {
    position: absolute;
    pointer-events: none;
    left: 1em;
    top: 1em;
    transition: 0.2s ease-out all;
    background-color: $color-background;
    box-shadow: 0 0 0.1em 0.25em $color-background;
  }
}
